:root {
    --color-primary-200: #e7b2dbff;
    --color-primary-300: #d079bcff;
    --color-primary-500: #96307fff;
    --color-primary-600: #510d42ff;
    --color-primary-700: #2f0425ff;
    --color-primary-400: #b84a9fff;
    --color-primary-100: #fff2fcff;

    --color-additional2-200: #d2bdf5ff;
    --color-additional2-300: #b08ceaff;
    --color-additional2-500: #6b3db6ff;
    --color-additional2-600: #2f1061ff;
    --color-additional2-700: #180537ff;
    --color-additional2-400: #8f5ee0ff;
    --color-additional2-100: #f7f2ffff;

    --color-additional3-200: #9ad4f4ff;
    --color-additional3-300: #4ab0e8ff;
    --color-additional3-500: #0074b3ff;
    --color-additional3-600: #003e60ff;
    --color-additional3-700: #002336ff;
    --color-additional3-400: #008fddff;
    --color-additional3-100: #f2fbffff;

    --color-additional4-200: #90e1daff;
    --color-additional4-300: #40c4b8ff;
    --color-additional4-500: #01877cff;
    --color-additional4-600: #004044ff;
    --color-additional4-700: #002b28ff;
    --color-additional4-400: #02a698ff;
    --color-additional4-100: #f2fffeff;

    --color-additional5-200: #96e1edff;
    --color-additional5-300: #45c6daff;
    --color-additional5-500: #008ca3ff;
    --color-additional5-600: #004c58ff;
    --color-additional5-700: #002b32ff;
    --color-additional5-400: #00acc8ff;
    --color-additional5-100: #f2fdffff;

    --color-additional6-200: #aee3aeff;
    --color-additional6-300: #74c674ff;
    --color-additional6-500: #2c8b2cff;
    --color-additional6-600: #0c4c0cff;
    --color-additional6-700: #042c04ff;
    --color-additional6-400: #44aa44ff;
    --color-additional6-100: #f2fff2ff;

    --color-additional7-200: #fcbfbdff;
    --color-additional7-300: #f88c89ff;
    --color-additional7-500: #c73c38ff;
    --color-additional7-600: #6a120fff;
    --color-additional7-700: #3b0604ff;
    --color-additional7-400: #f55b56ff;
    --color-additional7-100: #fff3f2ff;

    --color-additional8-200: #fcf5bdff;
    --color-additional8-300: #f8eb89ff;
    --color-additional8-500: #c7b638ff;
    --color-additional8-600: #6a5f0fff;
    --color-additional8-700: #3b3504ff;
    --color-additional8-400: #ffe000ff;
    --color-additional8-100: #fffdf2ff;

    --color-danger-200: #fab2bcff;
    --color-danger-300: #f47586ff;
    --color-danger-500: #b30118ff;
    --color-danger-600: #7b0111ff;
    --color-danger-700: #440009ff;
    --color-danger-400: #ea0220ff;
    --color-danger-100: #fff2f4ff;

    --color-additional1-200: #b9d4ffff;
    --color-additional1-300: #81b1ffff;
    --color-additional1-500: #094fc2ff;
    --color-additional1-600: #043586ff;
    --color-additional1-700: #011d49ff;
    --color-additional1-400: #0f6affff;
    --color-additional1-100: #f2f7ffff;

    --color-success-200: #a3e1bfff;
    --color-success-300: #60c38dff;
    --color-success-500: #036931ff;
    --color-success-600: #014a22ff;
    --color-success-700: #002c14ff;
    --color-success-400: #058840ff;
    --color-success-100: #f2fff8ff;

    --color-warning-200: #fcd3b4ff;
    --color-warning-300: #faaf77ff;
    --color-warning-500: #ba5100ff;
    --color-warning-600: #803800ff;
    --color-warning-700: #471f00ff;
    --color-warning-400: #f46a00ff;
    --color-warning-100: #fff8f2ff;

    --color-neutral-0: #ffffffff;
    --color-neutral-100: #f5f5f7ff;
    --color-neutral-200: #ededf0ff;
    --color-neutral-300: #d9d9dbff;
    --color-neutral-400: #9e9ea1ff;
    --color-neutral-500: #6a6c72ff;
    --color-neutral-600: #53565dff;
    --color-neutral-700: #3a3d45ff;
    --color-neutral-800: #212329ff;
    --color-neutral-900: #0a0b0dff;
    --color-neutral-1000: #000000ff;
}

:root[class~="dark"] {
    --color-primary-200: #510d42;
    --color-primary-300: #96307f;
    --color-primary-500: #d079bc;
    --color-primary-600: #e7b2db;
    --color-primary-700: #fff2fc;
    --color-primary-400: #b84a9f;
    --color-primary-100: #2f0425;

    --color-additional2-100: #180537;
    --color-additional2-200: #2f1061;
    --color-additional2-300: #6b3db6;
    --color-additional2-400: #8f5ee0;
    --color-additional2-500: #b08cea;
    --color-additional2-600: #d2bdf5;
    --color-additional2-700: #f7f2ff;

    --color-additional3-200: #003e60;
    --color-additional3-300: #0074b3;
    --color-additional3-500: #4ab0e8;
    --color-additional3-600: #9ad4f4;
    --color-additional3-700: #f2fbff;
    --color-additional3-400: #008fdd;
    --color-additional3-100: #002336;

    --color-additional4-200: #004c58;
    --color-additional4-300: #01877c;
    --color-additional4-500: #40c4b8;
    --color-additional4-600: #90e1da;
    --color-additional4-700: #f2fffe;
    --color-additional4-400: #02a698;
    --color-additional4-100: #002b28;

    --color-additional5-200: #004c58;
    --color-additional5-300: #008ca3;
    --color-additional5-500: #45c6da;
    --color-additional5-600: #96e1ed;
    --color-additional5-700: #f2fdff;
    --color-additional5-400: #00acc8;
    --color-additional5-100: #002b32;

    --color-additional6-200: #0c4c0c;
    --color-additional6-300: #2c8b2c;
    --color-additional6-500: #74c674;
    --color-additional6-600: #aee3ae;
    --color-additional6-700: #f2fff2;
    --color-additional6-400: #44aa44;
    --color-additional6-100: #042c04;

    --color-additional7-200: #6a120f;
    --color-additional7-300: #c73c38;
    --color-additional7-500: #f88c89;
    --color-additional7-600: #fcbfbd;
    --color-additional7-700: #fff3f2;
    --color-additional7-400: #f55b56;
    --color-additional7-100: #3b0604;

    --color-additional8-200: #6a5f0f;
    --color-additional8-300: #c7b638;
    --color-additional8-500: #f8eb89;
    --color-additional8-600: #fcf5bd;
    --color-additional8-700: #fffdf2;
    --color-additional8-400: #ffe000;
    --color-additional8-100: #3b3504;

    --color-danger-200: #7b0111;
    --color-danger-300: #b30118;
    --color-danger-500: #f47586;
    --color-danger-600: #fab2bc;
    --color-danger-700: #fff2f4;
    --color-danger-400: #ea0220;
    --color-danger-100: #440009;

    --color-additional1-200: #043586;
    --color-additional1-300: #094fc2;
    --color-additional1-500: #81b1ff;
    --color-additional1-600: #b9d4ff;
    --color-additional1-700: #f2f7ff;
    --color-additional1-400: #0f6aff;
    --color-additional1-100: #011d49;

    --color-success-200: #014a22;
    --color-success-300: #036931;
    --color-success-500: #60c38d;
    --color-success-600: #a3e1bf;
    --color-success-700: #f2fff8;
    --color-success-400: #058840;
    --color-success-100: #002c14;

    --color-warning-200: #803800;
    --color-warning-300: #ba5100;
    --color-warning-500: #faaf77;
    --color-warning-600: #fcd3b4;
    --color-warning-700: #fff8f2;
    --color-warning-400: #f46a00;
    --color-warning-100: #471f00;

    --color-neutral-0: #000;
    --color-neutral-100: #0a0b0d;
    --color-neutral-200: #212329;
    --color-neutral-300: #3a3d45;
    --color-neutral-400: #53565d;
    --color-neutral-500: #6a6c72;
    --color-neutral-600: #9e9ea1;
    --color-neutral-700: #d9d9db;
    --color-neutral-800: #ededf0;
    --color-neutral-900: #f5f5f7;
    --color-neutral-1000: #ffffff;
}
